.vscode
.vscodeignore
.gitignore
.github
.git
.gitattributes
node_modules
*.vsix
*.log
.DS_Store
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
src/**
test/**
.eslintrc*
.prettierrc*
tsconfig.json
webpack.config.js
